@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

$primaryFont: "Roboto Condensed", sans-serif;
$primaryColor: #000613;
$secondaryColor: #c5eafd; //#b8ddff;
$tertiaryColor: #aeacf9;
$bodyColor: #f8f1e4;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $primaryFont;
  background-color: #dbdbe5;
}

header,
section,
nav,
footer,
div {
  border: 0px solid #000;
}

header,
section,
footer {
  display: flex;
  flex-flow: row wrap;
}

#navbar-sm {
  display: none;
}

.circle {
  height: 120px;
  border-radius: 100%;
  width: 10%;
  position: absolute;
  z-index: 1;
  margin-left: 570px;
  margin-top: 120px;
  background-color: $primaryColor;

  a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: $secondaryColor;
    text-align: center;
    font-size: 1.2rem;
  }
  a:hover {
    color: $secondaryColor;
  }
}

.about {
  flex-basis: 55%;
  color: $primaryColor;
  h1 {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 3.5rem;
  }

  h2 {
    font-weight: regular;
    margin-left: 50px;
    font-size: 1.2rem;
    padding: 10px;
  }

  #btn-xl {
    background-color: $primaryColor;
    display: block;
    margin-left: 50px;
    width: 30%;
    padding: 10px;
    border: 1px solid $primaryColor;

    a {
      color: $bodyColor;
      text-decoration: none;
    }
  }
}

.image {
  flex-basis: 45%;

  ul {
    li {
      a {
        color: $primaryColor;
        font-size: 1rem;
      }

      a:hover {
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }

  img {
    display: block;
    width: 80%;
    margin-left: 70px;
  }
}

.skills {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  background-color: $primaryColor;
  min-height: 120px;

  .items {
    flex-basis: 25%;

    p {
      color: $bodyColor;
      font-size: 1.2rem;
      margin-left: 30px;
      margin-top: 10px;

      svg {
        color: $tertiaryColor;
      }
    }
  }
}

.recentprojects {
  flex-basis: 100%;
  h2 {
    color: $primaryColor;
    margin-top: 60px;
    text-align: center;
    font-size: 1.5rem;
  }
}

.projectfiles {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;

  .projects {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 20%;
    height: 300px;
    margin-left: 50px;
    margin-top: 30px;

    .dark {
      flex-basis: 100%;
      background-color: rgba(0, 6, 19, 0.6);
      height: 100%;

      h4 {
        color: $bodyColor;
        margin-top: 90px;
        text-align: center;
      }

      button {
        display: block;
        background-color: $primaryColor;
        border: 1px solid $primaryColor;
        padding: 10px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        a {
          text-decoration: none;
          color: $bodyColor;
          font-weight: regular;
          display: block;
          text-align: center;
        }
      }
    }

    .light {
      flex-basis: 100%;
      background-color: rgba(174, 172, 249, 0.6);
      height: 100%;

      h4 {
        color: $primaryColor;
        margin-top: 90px;
        text-align: center;
      }

      button {
        display: block;
        background-color: $secondaryColor;
        border: 1px solid $secondaryColor;
        padding: 10px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        a {
          text-decoration: none;
          color: $primaryColor;
          font-weight: regular;
          display: block;
          text-align: center;
        }
      }
    }
  }

  .img-00 {
    background-image: url("images/cellsite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-01 {
    background-image: url("images/optimized-dataanalysis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-02 {
    background-image: url("images/optimized-heartdisease.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-03 {
    background-image: url("images/optimized-insurance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-04 {
    background-image: url("images/optimized-stroke.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-05 {
    background-image: url("images/optimized-bulldozer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-06 {
    background-image: url("images/crypto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-07 {
    background-image: url("images/dogbredd-identification.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.space {
  flex-basis: 100%;
  height: 50px;
}

.skills-info {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  min-height: 350px;
  background-color: $primaryColor;

  .medium,
  .github {
    flex-basis: 50%;
  }

  .medium,
  .github {
    .item {
      width: 90%;
      display: flex;
      flex-flow: row wrap;
      min-height: 300px;
      margin-top: 25px;
      background-color: $tertiaryColor;
      margin-left: auto;
      margin-right: auto;

      .item-01,
      .item-02 {
        flex-basis: 50%;

        img {
          width: 100%;
          display: block;
          margin-top: 40px;
        }

        h1 {
          color: $primaryColor;
          font-size: 1.2rem;
          font-weight: bolder;
          text-align: center;
          margin-top: 40px;
        }

        p {
          font-size: 1rem;
          text-align: center;
          padding: 10px;
        }

        button {
          background-color: $primaryColor;
          border: 1px solid $primaryColor;
          display: block;
          margin-left: auto;
          margin-right: auto;

          a {
            text-decoration: none;
            color: $secondaryColor;
            font-size: 1rem;
          }

          a:hover {
            color: $secondaryColor;
          }
        }
      }
    }
  }

  .medium {
    .item {
      border-radius: 50px 0 0 50px;
    }
  }

  .github {
    .item {
      border-radius: 0 50px 50px 0;
    }
  }
}

.tableau {
  background-color: $primaryColor;
  min-height: 250px;
  color: $bodyColor;
  .tableau-img,
  .tableau-text {
    flex-basis: 50%;
  }

  .tableau-img {
    #animation {
      width: 60%;
      display: block;
      margin: 0 auto;
      margin-top: 0px;
      animation-name: dropTop;
      animation-duration: 6s;
      animation-delay: -2s;
      animation-iteration-count: infinite;
    }

    @keyframes dropTop {
      from {
        margin-top: 15px;
      }
      to {
        margin-top: 40px;
      }
    }
  }

  .tableau-text {
    h2 {
      text-align: center;
      margin-top: 10px;
      font-size: 1.5rem;
      padding: 5px;
      color: $secondaryColor;
      animation-name: textDrop;
      animation-duration: 6s;
      animation-delay: -2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }

    @keyframes textDrop {
      0% {
        margin-top: 15px;
      }
      100% {
        margin-top: 40px;
      }
    }

    button {
      display: block;
      margin: 0 auto;
      background-color: $tertiaryColor;
      border: 1px solid $tertiaryColor;
      width: 30%;
      padding: 10px;

      a {
        color: $primaryColor;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

footer {
  .contact,
  .developer-notice {
    flex-basis: 50%;
    background-color: $primaryColor;
    min-height: 100px;
  }

  .contact {
    p {
      margin-top: 20px;
      margin-left: 50px;
      a {
        text-decoration: none;
      }

      svg {
        color: $bodyColor;
      }
    }

    p {
      color: $bodyColor;
    }
  }

  .developer-notice {
    p {
      font-size: 1.1rem;
      color: $bodyColor;
      text-align: right;
      margin-top: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 550px) {
  #navbar-sm {
    display: flex;
    flex-flow: row wrap;

    .fixed-top {
      .collapse {
        .darken {
          a {
            display: block;
            text-decoration: none;
            color: $secondaryColor;
            font-size: 1.2em;
          }
        }
      }
    }

    .darken {
      background-color: $primaryColor;
    }
  }

  .circle {
    display: none;
  }

  .about,
  .image {
    flex-basis: 100%;
  }

  .about {
    h1,
    h2 {
      margin-left: 0;
      text-align: center;
    }

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1em;
      padding: 10px;
    }

    #btn-xl {
      margin-right: auto;
      margin-left: auto;
      padding: 5px;

      a {
        font-size: 1rem;
      }
    }
  }

  .image {
    #navbar-xl {
      display: none;
    }

    img {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .skills {
    min-height: 200px;
    .items {
      flex-basis: 33.33%;
      p {
        font-size: 1em;
        margin-left: 10px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .projectfiles {
    .projects {
      flex-basis: 80%;
      margin-right: auto;
      margin-left: auto;
      height: 500px;

      .dark {
        h4 {
          margin-top: 120px;
          font-size: 2em;
        }

        button {
          a {
            font-size: 1.2em;
          }
        }
      }

      .light {
        h4 {
          margin-top: 120px;
          font-size: 2em;
        }

        button {
          a {
            font-size: 1.2em;
          }
        }
      }
    }
  }

  .skills-info {
    min-height: 990px;
    .medium,
    .github {
      flex-basis: 100%;

      .item {
        margin-top: 35px;
        .item-01,
        .item-02 {
          flex-basis: 100%;
          p {
            font-size: 0.9em;
            padding: 0px;
          }
        }
      }
    }

    .medium,
    .github {
      .item {
        border-radius: 0px;
      }
    }
  }

  .tableau {
    min-height: 350px;
    .tableau-img,
    .tableau-text {
      flex-basis: 100%;
    }
  }

  footer {
    .contact,
    .developer-notice {
      flex-basis: 100%;
    }

    .contact {
      p {
        margin-left: 0;
        text-align: center;
      }
    }

    .developer-notice {
      p {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .circle {
    width: 15%;
    margin-left: 240px;
    margin-top: 30px;
  }

  .about {
    h1 {
      font-size: 3em;
      margin-top: 30px;
      margin-left: 10px;
    }

    h2 {
      font-size: 1em;
      font-weight: regular;
      margin-left: 10px;
    }
  }

  .image {
    img {
      width: 100%;
      margin-left: 0px;
    }
  }

  .skills {
    min-height: 260px;
    .items {
      p {
        font-size: 1.1em;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .projectfiles {
    .projects {
      flex-basis: 40%;
      margin-left: 50px;
    }
  }

  .skills-info {
    min-height: 1000px;
    .medium,
    .github {
      flex-basis: 100%;

      .item {
        .item-01,
        .item-02 {
          flex-basis: 100%;
          p {
            font-size: 1.4em;
            padding: 5px;
          }

          img {
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    .medium,
    .github {
      .item {
        border-radius: 0px;
        width: 60%;
      }
    }
  }

  footer {
    .contact,
    .developer-notice {
      flex-basis: 100%;
    }

    .contact {
      p {
        text-align: center;
        margin-left: 0;
      }
    }

    .developer-notice {
      p {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 1021px) and (max-width: 1120px) {
  .circle {
    width: 15%;
    margin-left: 435px;
  }

  .image {
    img {
      width: 100%;
      margin-left: 0px;
    }
  }

  .skills {
    min-height: 240px;
  }

  .projectfiles {
    .projects {
      margin-left: 40px;
      flex-basis: 20%;
    }
  }

  .skills-info {
    min-height: 390px;
    .medium,
    .github {
      .item {
        min-height: 340px;
        .item-01,
        .item-02 {
          h1,
          p {
            text-align: left;
            margin-left: 10px;
          }

          button {
            margin-left: 10px;
            margin-right: -10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }

  .circle {
    margin-left: 650px;
  }

  .skills {
    height: 130px;
  }
}
